<header>
  <h1> TinyApp</h1>
  <h3> The World Best URL Shortening App! </h3>
</header>

<a href="http://127.0.0.1:8080/register"><h4>Register Here</h4></a>

<a href="http://127.0.0.1:8080/login"><h4>Login Here</h4></a>


<% if(user){ %>

   <h4>Logged in as <%=user.email%></h4>
  <form class="form-inline" action="/logout" method="POST">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
 <% } else { %>


<% } %>
<!--
   <h4>
    <form class="form-inline" action="/login" method="POST">
          <div class="form-group mb-2">
            <label for="username">Enter Username:</label>
            <input class="form-control" type="text" name="username" placeholder="enter name" style="width: 300px; margin: 1em">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
       </h4>
-->

