<header>
  <h1> <strong> TinyApp </strong> </h1>
  <h3> The World Best URL Shortening App! </h3>

  <% if(user){ %>

    <h4>Logged in as <%=user.email%></h4>

    <form class="form-inline" action="/logout" method="POST">
              <button type="submit" class="btn btn-primary">Logout</button>
          </form>

  <% } else { %>

    <h5> <a href="/login"> Login </a> || <a href="/register"> Register </a> </h5>

  <% } %>
</header>
<!--
   <h4>
    <form class="form-inline" action="/login" method="POST">
          <div class="form-group mb-2">
            <label for="username">Enter Username:</label>
            <input class="form-control" type="text" name="username" placeholder="enter name" style="width: 300px; margin: 1em">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
       </h4>
-->

