<header>
  <h1> <strong> TinyApp </strong> </h1>
  <h3 style="margin-top: 20px; margin-bottom: 20px"> The World Best URL Shortening App! </h3>

  <% if(user){ %>

    <h4 style="margin-top: 20px; margin-bottom: 20px">Logged in as <%=user.email%></h4>

    <form style="margin-top: 30px; margin-bottom: 40px"class="form-inline" action="/logout" method="POST">
              <button type="submit" class="btn btn-primary">Logout</button>
          </form>

  <% } else { %>

    <h5> <a href="/login"> Login </a> || <a href="/register"> Register </a> </h5>

  <% } %>
</header>


