<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">

  <header>
    <% include ./partials/_header %>
  </header>

  <a href="#">Get Started</a>

  <h2>TinyURL for</h2>

  <ul>
      <li> <h4><%= longUrl %> =></h4> <%= shortUrl %> </li>
  </ul>

</body>
<!DOCTYPE html>
</html>