<!DOCTYPE html>
  <html lang="en">
    <head>
      <% include ./partials/_head %>
    </head>

    <header>
        <% include ./partials/_header %>
    </header>

    <body style="font-size:20px; padding:50px;">

      <p>
        <h5>Create TinyURL</h5>
      </p>
      <p>
        <form class="form-inline" action="/urls" method="POST">
          <div class="form-group mb-2">
            <label for="longURL">Enter a URL:</label>
            <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </p>
  </body>
</html>








