<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
<header>
    <% include ./partials/_header %>
</header>



<a href="http://127.0.0.1:8080/urls/new">Make a Shorty!</a>


  <h2>My URLs</h2>

    <% for (var short in urls) {%>

       <h5><%= short %> ===> <%= urls[short] %> <a href="/urls/<%= short %>"> Edit </a> </h5>

        <form method="POST" action="/urls/<%= short %>/delete"><button type="delete" class="btn btn-primary">!!!</button></form>

   <%}%>

</body>
<!DOCTYPE html>
</html>

